header {

    position: sticky;
    top: 0;
    justify-content: space-around;
    height: 100vh;
    display: flex
    ;
    justify-content: space-between;
    flex-direction: column;
}


 /* Планшеты (577px–768px) */
 @media (min-width: 577px) and (max-width: 768px) {

 .web {
    display: none;
 }

 .mobile {
    display: flex;
}

    header {

    height: auto;
    }



  }
  
  /* Маленькие десктопы (769px–992px) */
  @media (min-width: 769px) and (max-width: 992px) {
    .web {
        display: none;
     }

     .mobile {
        display: flex;
    }

    header {

        height: auto;
        }
  
  }
  
  /* Средние десктопы (993px–1336px) */
  @media (min-width: 993px) {

    .mobile {
        display: none;
    }
  
  }
  
  /* Большие десктопы (1400px+) */
  @media (min-width: 1600px) {

    .mobile {
        display: none;
    }
  }
