.content {
  padding-bottom: 3rem; /* 48px / 16 */
}

.content__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 39rem; /* 624px / 16 */
  padding: 6.75rem 8rem; /* 108px / 16 = 6.75rem, 128px / 16 = 8rem */
  margin-bottom: 3rem; /* 48px / 16 */
  border: var(--borderblock);
  font-weight: var(--regular);
  font-size: var(--hg);            /* 48px/16 */
  line-height: var(--hg);         /* 48px/16 */
  letter-spacing: 0rem;
  vertical-align: middle;
  color: var(--silver);
}

h1, h2 {
  font-weight: var(--bold);
  font-size: var(--hg);         /* 48px/16 */
  line-height: var(--hg);      /* 48px/16 */
  letter-spacing: 0rem;
  vertical-align: middle;
  margin-bottom: 1.5rem; /* 24px / 16 */
  color: var(--white);
}

.content__center {
  width: 100%;
  text-align: center;
}
.content__center h1, .content__center h2 {
  margin-bottom: 0.5rem; /* 8px / 16 */
}

.content__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 3rem; /* 48px / 16 */
}

.content__wrap {
  max-width: 53rem; /* 848px / 16 */
  width: 100%;
}

.content__bottom {
  display: -ms-grid;
  display: grid;
  /* Converted gap value in grid-template-columns */
  -ms-grid-columns: 1fr 1rem 1fr 1rem 1fr 1rem 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1rem; /* 16px / 16 */
}

.content__block {
  min-height: 26rem; /* 416px / 16 */
  border: var(--borderblock);
  padding: 3rem; /* 48px / 16 */
  font-weight: var(--medium);
  font-size: var(--lg);         /* 24px/16 */
  line-height: 1.875rem;     /* 30px/16 */
  letter-spacing: 0rem;
  vertical-align: middle;
  color: var(--silver);
}

h5 {
  font-weight: var(--medium);
  font-size: var(--xxl);           /* 32px/16 */
  line-height: var(--xxl);         /* 32px/16 */
  letter-spacing: 0rem;
  vertical-align: middle;
  color: var(--white);
  margin-bottom: 1.5rem; /* 24px / 16 */
}