{% extends "layout.html" %}

{% block main %}
    <main class="gp gp--xs">
        <section class="container gp gp--xs sequential-container">
            <div class="hero sequential-container">
                <div class="aside aside--hero pd pd__hg">
                    <div class="col gp gp--xs">
                        <h1 class="title fs__xxl fw__bd animate-sequential-item">{{ _('cto_hero_title') }}</h1>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}
