


            <div class="aside aside--footer">
                <div class="col gp gp--xxl">

                    <a href="mailto:johnlarckin@gmail.com" class="title fs__xl" data-i18n="footer_contact_title">Написать на почту</a>
                    <div class="row gp gp--xs mobile">
                        <a href="https://t.me/johnlarckin"   class="btn btn--blue" data-i18n="btn_header">Написать в Telegram</a>
                        <a href="/static/img/cv_johnlarckin.pdf"   class="btn btn--blk" data-i18n="btn_header">Скачать резюме</a>
                    </div>

                    <div class="col gp gp--md">    
                        <span class="title fs__md" data-i18n="footer_social_title">Я в социальных сетях</span>
                        <div class="row">

                            <a href="https://youtube.com/@johnlarckin1209?si=Q_1xiPo_qyO7w06z" class="link opc opc--50 anmt" aria-label="Social media col 4"><img class="img--header" src="static/img/soc4.svg" alt=""></a>

                        </div>
                    </div>



                </div>
            </div>
            <div class="bside bside--footer gp gp--xxl">



                    <div class="col gp gp--xxl">
                        <div class="col gp gp--md">
                            <span class="title fs__md" data-i18n="footer_nav_services_main_title">Услуги</span>
                            <div class="col gp gp--xs">
                                <a href="#" class="link opc opc--50 anmt" data-i18n="footer_nav_services_backend">Продуктовый дизайн</a>
                                <a href="#" class="link opc opc--50 anmt" data-i18n="footer_nav_services_frontend">Дизайн мобильный приложений</a>
                                <a href="#" class="link opc opc--50 anmt" data-i18n="footer_nav_services_product_design">Веб дизайн</a>
                                <a href="#" class="link opc opc--50 anmt" data-i18n="footer_nav_services_devops">Фирменный стиль</a>

                            </div>
                        </div>
                        <div class="col gp gp--md">
                            <span class="title fs__md" data-i18n="footer_nav_lab_title">Лаборатория</span>
                            <div class="col gp gp--xs">
                                <a href="https://github.com/johnlarckin/johnlarckin" class="link opc opc--50 anmt" data-i18n="footer_nav_lab_omni">John Larckin MIT</a>

                            </div>
                        </div>
                    </div>
                     <div class="col gp gp--xxl">
                        <div class="col gp gp--md">
                            <span class="title fs__md" data-i18n="footer_nav_expertise_title">Экспертиза</span>
                            <div class="col gp gp--xs">
                                <a href="https://t.me/johnlarckin" class="link opc opc--50 anmt" data-i18n="footer_nav_expertise_main">Бесплатная экспертиза</a>

                            </div>
                        </div>
                        <div class="col gp gp--md">
                            <span class="title fs__md" data-i18n="footer_nav_about_title">Обо мне</span>
                            <div class="col gp gp--xs">
                                <a href="https://www.behance.net/johnlarckin" class="link opc opc--50 anmt" data-i18n="footer_nav_about_jobs">Behance</a>
                                <a href="https://dribbble.com/johnlarckin" class="link opc opc--50 anmt" data-i18n="footer_nav_about_faq">Dribbble</a>

                            </div>
                        </div>
                    </div>
                     <div class="col gp gp--xxl">
                        <div class="col gp gp--md">
                            <span class="title fs__md" data-i18n="footer_nav_industries_title">Индустрии</span>
                            <div class="col gp gp--xs">
                                <a href="#" class="link opc opc--50 anmt" data-i18n="footer_nav_industries_retail">Ритейл</a>
                                <a href="#" class="link opc opc--50 anmt" data-i18n="footer_nav_industries_manufacturing">Производство</a>
                                <a href="#" class="link opc opc--50 anmt" data-i18n="footer_nav_industries_construction">Строительство</a>
                                <a href="#" class="link opc opc--50 anmt" data-i18n="footer_nav_industries_education">Образование</a>
                                <a href="#" class="link opc opc--50 anmt" data-i18n="footer_nav_industries_medicine">Медицина</a>
                                <a href="#" class="link opc opc--50 anmt" data-i18n="footer_nav_industries_insurance">Страхование</a>
                                <a href="#" class="link opc opc--50 anmt" data-i18n="footer_nav_industries_finance">Финансы</a>
                                <a href="#" class="link opc opc--50 anmt" data-i18n="footer_nav_industries_entertainment">Развлечения</a>
                                <a href="#" class="link opc opc--50 anmt" data-i18n="footer_nav_industries_media">Средства массовой информации</a>
                            </div>
                        </div>
                    </div>

                    <div class="col gp gp--xxl">
                        <div class="col gp gp--md">
                            <span class="title fs__md" data-i18n="footer_nav_legal_title">Юридическая информация</span>
                            <div class="col gp gp--xs">
                                <a href="#" class="link opc opc--50 anmt" data-i18n="footer_nav_legal_policy">Политика обработки данных</a>
                                <a href="#" class="link opc opc--50 anmt" data-i18n="footer_nav_legal_gdpr">GDPR</a>
                                <a href="#" class="link opc opc--50 anmt" data-i18n="footer_nav_legal_nda">NDA</a>
                            </div>
                        </div>
                    </div>

            </div>


            <div class="col gp gp--xs mobile">
                <span class="title fs__xs fw__md opc opc--75"  data-i18n="footer_copyright">
                    ©2025 John Larckin. 
                </span>
    
                <small class="opc opc--25">Fortune 500, Hollywood, Adobe,Crunchbase, Figma, Google Firebase, Adobe, Twinmotion и Visual Studio являются товарными знаками или зарегистрированными товарными знаками соответствующих правообладателей. Все названия продуктов, логотипы и бренды являются собственностью их владельцев. Использование этих наименований не подразумевает наличие какой-либо аффилированности с ними или их одобрения. Все права защищены.</small>
    
            </div>




