<div class="aside aside--footer">
    <div class="col gp gp--xxl">

        <a href="mailto:johnlarckin@gmail.com" class="title fs__xl animate-on-scroll">{{ _('footer_contact_title') }}</a>
        <div class="row gp gp--xs mobile animate-on-scroll">
            <a href="https://t.me/johnlarckin"   class="btn btn--blue">{{ _('footer_btn_tg') }}</a>
            <a href="{{ url_for('static', filename='img/cv_johnlarckin.pdf') }}"   class="btn btn--blk">{{ _('footer_btn_cv') }}</a>
        </div>

        <div class="col gp gp--md">
            <span class="title fs__md animate-on-scroll">{{ _('footer_social_title') }}</span>
            <div class="row animate-on-scroll">
                <a href="https://youtube.com/@johnlarckin1209?si=Q_1xiPo_qyO7w06z" class="link opc opc--50 anmt" aria-label="Social media col 4"><img class="img--header" src="{{ url_for('static', filename='img/soc4.svg') }}" alt=""></a>
            </div>
        </div>

    </div>
</div>
<div class="bside bside--footer gp gp--xxl">

        <div class="col gp gp--xxl">
            <div class="col gp gp--md">
                <span class="title fs__md animate-on-scroll">{{ _('footer_nav_services_main_title') }}</span>
                <div class="col gp gp--xs">
                    <a href="#" class="link opc opc--50 anmt animate-on-scroll">{{ _('footer_nav_services_product') }}</a>
                    <a href="#" class="link opc opc--50 anmt animate-on-scroll">{{ _('footer_nav_services_mobile') }}</a>
                    <a href="#" class="link opc opc--50 anmt animate-on-scroll">{{ _('footer_nav_services_web') }}</a>
                    <a href="#" class="link opc opc--50 anmt animate-on-scroll">{{ _('footer_nav_services_brand') }}</a>
                </div>
            </div>
            <div class="col gp gp--md">
                <span class="title fs__md animate-on-scroll">{{ _('footer_nav_lab_title') }}</span>
                <div class="col gp gp--xs">
                    <a href="https://github.com/johnlarckin/johnlarckin" class="link opc opc--50 anmt animate-on-scroll">{{ _('footer_nav_lab_omni') }}</a>
                </div>
            </div>
        </div>
         <div class="col gp gp--xxl">
            <div class="col gp gp--md">
                <span class="title fs__md animate-on-scroll">{{ _('footer_nav_expertise_title') }}</span>
                <div class="col gp gp--xs">
                    <a href="https://t.me/johnlarckin" class="link opc opc--50 anmt animate-on-scroll">{{ _('footer_nav_expertise_main') }}</a>
                </div>
            </div>
            <div class="col gp gp--md">
                <span class="title fs__md animate-on-scroll">{{ _('footer_nav_about_title') }}</span>
                <div class="col gp gp--xs">
                    <a href="https://www.behance.net/johnlarckin" class="link opc opc--50 anmt animate-on-scroll">{{ _('footer_nav_about_behance') }}</a>
                    <a href="https://dribbble.com/johnlarckin" class="link opc opc--50 anmt animate-on-scroll">{{ _('footer_nav_about_dribbble') }}</a>
                </div>
            </div>
        </div>
         <div class="col gp gp--xxl">
            <div class="col gp gp--md">
                <span class="title fs__md animate-on-scroll">{{ _('footer_nav_industries_title') }}</span>
                <div class="col gp gp--xs">
                    <a href="#" class="link opc opc--50 anmt animate-on-scroll">{{ _('footer_nav_industries_retail') }}</a>
                    <a href="#" class="link opc opc--50 anmt animate-on-scroll">{{ _('footer_nav_industries_manufacturing') }}</a>
                    <a href="#" class="link opc opc--50 anmt animate-on-scroll">{{ _('footer_nav_industries_construction') }}</a>
                    <a href="#" class="link opc opc--50 anmt animate-on-scroll">{{ _('footer_nav_industries_education') }}</a>
                    <a href="#" class="link opc opc--50 anmt animate-on-scroll">{{ _('footer_nav_industries_medicine') }}</a>
                    <a href="#" class="link opc opc--50 anmt animate-on-scroll">{{ _('footer_nav_industries_insurance') }}</a>
                    <a href="#" class="link opc opc--50 anmt animate-on-scroll">{{ _('footer_nav_industries_finance') }}</a>
                    <a href="#" class="link opc opc--50 anmt animate-on-scroll">{{ _('footer_nav_industries_entertainment') }}</a>
                    <a href="#" class="link opc opc--50 anmt animate-on-scroll">{{ _('footer_nav_industries_media') }}</a>
                </div>
            </div>
        </div>

        <div class="col gp gp--xxl">
            <div class="col gp gp--md">
                <span class="title fs__md animate-on-scroll">{{ _('footer_nav_legal_title') }}</span>
                <div class="col gp gp--xs">
                    <a href="#" class="link opc opc--50 anmt animate-on-scroll">{{ _('footer_nav_legal_policy') }}</a>
                    <a href="#" class="link opc opc--50 anmt animate-on-scroll">{{ _('footer_nav_legal_gdpr') }}</a>
                    <a href="#" class="link opc opc--50 anmt animate-on-scroll">{{ _('footer_nav_legal_nda') }}</a>
                </div>
            </div>
        </div>

</div>

<div class="col gp gp--xs mobile">
    <span class="title fs__xs fw__md opc opc--75 animate-on-scroll">{{ _('footer_copyright') }}</span>

    <small class="opc opc--25 animate-on-scroll">{{ _('footer_disclaimer') }}</small>

</div>