<header>


    <div class="col gp gp--hg">

        <div class="col gp gp--lg">
            <a class="logo" href="/" ></a>
            <h1 class="title fs__lg">Дизайн - <span class="underline green">как надо.</span></h1>
        </div>



        <div class="col gp gp--lg">
            <div class="col gp gp--xs">
                <a class="link opc opc--50 anmt" href="#services" data-i18n="nav_services">Делаю</a>
                <a class="link opc opc--50 anmt" href="#principles" data-i18n="nav_principles">Правила поведения</a>
                <a class="link opc  anmt" href="#cases" data-i18n="nav_cases"><span class="green">Арт-директору</span></a>

                <a class="link opc opc--50 anmt" href="#design-system" data-i18n="atom">Дизайн системы</a>
                <a class="link opc opc--50 anmt" href="#approach" data-i18n="nav_approach">Подход к дизайну</a>
                <a class="link opc opc--50 anmt" href="#development-principles" data-i18n="atom">Принципы разработки</a>
    
                <a class="link opc opc--50 anmt" href="#industries" data-i18n="atom">Отрасли</a>
                <a class="link opc opc--50 anmt" href="#expertise" data-i18n="nav_expertise">Экспертиза</a>
                <a class="link opc opc--50 anmt" href="#standards" data-i18n="nav_expertise">Документация</a>
                <a class="link opc anmt" href="#faq" data-i18n="nav_faq"><span class="green">HR специалисту</span></a>
            </div>
    
            <div class="col gp gp--xs">
                <a href="https://t.me/johnlarckin"   class="btn btn--blue" data-i18n="btn_header">Написать в Telegram</a>
                <a href="/static/img/cv_johnlarckin.pdf"   class="btn btn--blk" data-i18n="btn_header">Скачать резюме</a>
            </div>

        </div>





    </div>


    <div class="copyright">

            
        <div class="col gp gp--md mg mg__lg--btm">


            <div class="col gp gp--xs">
                <span class="title fs__xs fw__md opc opc--75"  data-i18n="footer_copyright">
                    ©2025 John Larckin. 
                </span>
    
                <small class="opc opc--25">Fortune 500, Hollywood, Crunchbase, Figma, Google Firebase, Adobe, Twinmotion и Visual Studio являются товарными знаками или зарегистрированными товарными знаками соответствующих правообладателей. Все названия продуктов, логотипы и бренды являются собственностью их владельцев. Использование этих наименований не подразумевает наличие какой-либо аффилированности с ними или их одобрения. Все права защищены.</small>
    
            </div>
            

            <div class="col gp gp--xs">
                <div class="row gp gp--xs github">
                    <img class="img--header" src="/static/img/soc6.svg" alt="Tool icon 1">
                    <a href="https://github.com/johnlarckin/johnlarckin" class="title fs__xs fw__md opc opc--75"  data-i18n="footer_copyright">Open GitHub</a>
                </div>
    
                <span class="subtitle fs__xs fw__md opc opc--75"  data-i18n="footer_copyright">Редакция сайта от 09.04.2025</span>
            </div>

        </div>
    </div>


   
    
</header>