{% extends "layout.html" %}

{% block main %}


    <main class="gp gp--xs">
 
        <section class="container gp gp--xs" id="services">

                <div class="hero">
                    
                   

                        <div class="aside aside--hero pd pd__hg">
                            <div class="col gp gp--xs">
                                <h1 class="title fs__xxl fw__bd"  data-i18n="hero_title">
                                    Эффективная дизайн коммуникация. <span class="underline green">Говорю на языке клиента.</span>
                                </h1>
                                <h2 class="subtitle fs__md fw__md opc opc--75" data-i18n="hero_subtitle">Понимаю задачи с первого брифа, минимум правок, максимум результата.</h2>
                            </div>
                        </div>                   



                        <div class="bside bside--hero">
                            <div class="icon"><img src="/static/img/15_years.svg" alt="Tool icon 1"></div>
                        </div>
                </div>

                <div class="grid">
                    <div class="card gp gp--lg">

                        <div class="aside--card pd pd__xl">
                            <div class="col gp gp--sm">
                                <h3 class="title fs__lg fw__md opc opc--75"  data-i18n="services_saas_title">
                                    Дизайн крупных <span class="underline green">SaaS сервисов.</span>
                                </h3>
                                <h4 class="subtitle fs__md fw__md opc opc--75" data-i18n="services_saas_desc">
                                    Комплексные дизайн-решения для SaaS-сервисов.
                                </h4>
                            </div>
                        </div>

                        <div class="bside--card">
                            <div class="icon"><img src="/static/img/saas.svg" alt="Tool icon 1"></div>
                        </div>
                    </div>


                    <div class="card gp gp--lg ">
                        <div class="aside--card pd pd__xl">
                            <div class="col gp gp--sm">
                                <h3 class="title fs__lg fw__md opc opc--75" data-i18n="services_mobile_title">
                                    Дизайн <span class="underline green">мобильных приложений.</span>
                                </h3>
                                <h4 class="subtitle fs__md fw__md opc opc--75" data-i18n="services_mobile_desc">
                                    Дизайн сложных мобильных приложений, предусматриваю широкий спектр пользовательских сценариев и действий.
                                </h4>
                            </div>
                        </div>
                        <div class="bside--card">
                            <div class="icon"><img src="/static/img/ios.svg" alt="Tool icon 1"></div>
                        </div>
                    </div>
                    
                    <div class="card gp gp--lg ">
                        <div class="aside--card pd pd__xl">
                            <div class="col gp gp--sm">
                                <h3 class="title fs__lg fw__md opc opc--75" data-i18n="services_iot_title">
                                    Дизайн для <span class="underline green">IoT.</span>
                                </h3>
                                <h4 class="subtitle fs__md fw__md opc opc--75" data-i18n="services_iot_desc">
                                    Масштабные решения для IoT; провожу исследования, формулирую концепции и реализую дизайн для развертывания.
                                </h4>
                            </div>
                        </div>
                        <div class="bside--card">
                            <div class="icon"><img src="/static/img/bluetooth.svg" alt="Tool icon 1"></div>
                        </div>
                    </div>

                    <div class="card ">
                        <div class="aside--card pd pd__xl">
                            <div class="col gp gp--sm">
                                <h3 class="title fs__lg fw__md opc opc--75" data-i18n="services_peripheral_title">
                                    Дизайн для <span class="underline green">периферийных систем.</span>
                                </h3>
                                <h4 class="subtitle fs__md fw__md opc opc--75" data-i18n="services_peripheral_desc">
                                    Масштабные решения для производственных интерфейсов и промышленных предприятий с учетом отраслевых регламентов заказчика.
                                </h4>
                            </div>
                        </div>
                        <div class="bside--card">
                            <div class="icon"><img src="/static/img/info.svg" alt="Tool icon 1"></div>
                        </div>
                    </div>
                    
                </div>

        </section>

        <section class="container gp gp--xs" id="principles">

                <div class="hero">

                  

                        <div class="aside aside--hero pd pd__hg">
                            <div class="col gp gp--xs">
                                <h1 class="title fs__xxl fw__bd" data-i18n="principles_main_title"><span class="underline green">Ответственность </span> и принципиальность.</h1>
                                <h2 class="subtitle fs__md fw__md opc opc--75" data-i18n="principles_main_desc">Признаю ошибки и отстаиваю позицию, ценю объективную обратную связь, применяю только проверенные методы и строго соблюдаю границы своей компетенции.</h2>
                            </div>
                        </div>


                        
                        <div class="bside bside--hero">
                            <div class="icon"><img src="/static/img/pro.svg" alt="Tool icon 1"></div>
                        </div>


                </div>
                <div class="grid">
                    <div class="card ">
                        <div class="aside--card pd pd__xl">
                            <div class="col gp gp--sm">
                                <h3 class="title fs__lg fw__md opc opc--75" data-i18n="principles_errors_title">
                                    <span class="underline green">Признаю ошибки. </span>Отстаиваю позицию.
                                </h3>
                                <h4 class="subtitle fs__md fw__md opc opc--75" data-i18n="principles_errors_desc">
                                    Признаю ошибки как норму и отстаиваю свою позицию только на основе объективной аргументации.
                                </h4>
                            </div>
                        </div>
                        <div class="bside--card">
                            <div class="icon"><img src="/static/img/mistakes.svg" alt="Tool icon 1"></div>
                        </div>
                    </div>
                    
                    <div class="card ">
                        <div class="aside--card pd pd__xl">
                            <div class="col gp gp--sm">
                                <h3 class="title fs__lg fw__md opc opc--75" data-i18n="principles_feedback_title">
                                    <span class="underline green">Ценю </span>комментарии.
                                </h3>
                                <h4 class="subtitle fs__md fw__md opc opc--75" data-i18n="principles_feedback_desc">
                                    Принимаю конструктивную критику для постоянного совершенствования своих рабочих процессов.
                                </h4>
                            </div>
                        </div>
                        <div class="bside--card">
                            <div class="icon"><img src="/static/img/comments.svg" alt="Tool icon 1"></div>
                        </div>
                    </div>
                    
                    <div class="card ">
                        <div class="aside--card pd pd__xl">
                            <div class="col gp gp--sm">
                                <h3 class="title fs__lg fw__md opc opc--75" data-i18n="principles_ethics_title">
                                    <span class="underline green">Прозрачен в работе,</span> корректен в отношениях.
                                </h3>
                                <h4 class="subtitle fs__md fw__md opc opc--75" data-i18n="principles_ethics_desc">
                                    Признаю компетенции коллег, уважаю экспертизу действующих специалистов.
                                </h4>
                            </div>
                        </div>
                        <div class="bside--card">
                            <div class="icon"><img src="/static/img/bullshit.svg" alt="Tool icon 1"></div>
                        </div>
                    </div>
                    
                    <div class="card ">
                        <div class="aside--card pd pd__xl">
                            <div class="col gp gp--sm">
                                <h3 class="title fs__lg fw__md opc opc--75" data-i18n="principles_boundaries_title">
                                    <span class="underline green">Дизайн — мой фокус,</span>границы — мой принцип.
                                </h3>
                                <h4 class="subtitle fs__md fw__md opc opc--75" data-i18n="principles_boundaries_desc">
                                    Соблюдаю профессиональные границы и фокусируюсь исключительно на задачах дизайна.
                                </h4>
                            </div>
                        </div>
                        <div class="bside--card">
                            <div class="icon"><img src="/static/img/bla.svg" alt="Tool icon 1"></div>
                        </div>
                    </div>
                    
                </div>
  
        </section>



        
        <section class="container gp gp--xs" id="cases">

            <div class="hero">

              

                    <div class="aside aside--hero pd pd__hg">
                        <div class="col gp gp--xs">
                            <h1 class="title fs__xxl fw__bd" data-i18n="principles_main_title"><span class="underline green">Figma </span> проекты.</h1>
                            <h2 class="subtitle fs__md fw__md opc opc--75" data-i18n="principles_main_desc">Ниже представлен короткий список для подтверждения навыков и компетенций.</h2>
                        </div>
                    </div>


                    
                    <div class="bside">

                    </div>


            </div>
            <div class="grid">
                <a href="https://www.figma.com/design/Wxq7lPZAYENXSmqTzWZANe/Safa-App---Behance---Website?node-id=359-5717&t=N6pWTBXQaxeRRw7G-1
                " class="case">
                    <div class="aside--card pd pd__xl">
                        <div class="col gp gp--sm">
                            <h3 class="title fs__lg fw__md opc opc--75" data-i18n="principles_errors_title">
                                Знакомства с учётом религии и ценностей.
                            </h3>
                            <h4 class="subtitle fs__md fw__md opc opc--75" data-i18n="principles_errors_desc">
                                Интерфейс для тех, кто ищет серьёзные отношения на основе общих взглядов и традиций.
                            </h4>
                        </div>
                    </div>
                    <div class="bside--card">
                        <div class="icon"><img src="/static/img/safa.png" alt="Tool icon 1"></div>
                    </div>
                </a>
                
                <a href="https://www.figma.com/design/634nu65EqK3lC2hfkM5Xhe/BIO-3.0---Behance---Website?node-id=695-4375&t=ZjsGz8yv284jHyin-1" class="case">
                    <div class="aside--card pd pd__xl">
                        <div class="col gp gp--sm">
                            <h3 class="title fs__lg fw__md opc opc--75" data-i18n="principles_feedback_title">
                                Интернет-магазин биодобавок.
                            </h3>
                            <h4 class="subtitle fs__md fw__md opc opc--75" data-i18n="principles_feedback_desc">
                                Интерфейс для покупки витаминов и нутриентов с акцентом на доверие и удобство
                            </h4>
                        </div>
                    </div>
                    <div class="bside--card">
                        <div class="icon"><img src="/static/img/324shots_so.png" alt="Tool icon 1"></div>
                    </div>
                </a>
                
                <a href="https://www.figma.com/design/9mCaWmgM7hZ4N8klaCaLZl/Imkon-Savdo-Quad----Behance---Website?m=auto&t=sz8IsoG4icwq96rF-1" class="case">
                    <div class="aside--card pd pd__xl">
                        <div class="col gp gp--sm">
                            <h3 class="title fs__lg fw__md opc opc--75" data-i18n="principles_ethics_title">
                                Интернет-магазин электроники
                            </h3>
                            <h4 class="subtitle fs__md fw__md opc opc--75" data-i18n="principles_ethics_desc">
                                Интерфейс для быстрой покупки гаджетов, техники и аксессуаров без лишних шагов
                            </h4>
                        </div>
                    </div>
                    <div class="bside--card">
                        <div class="icon"><img src="/static/img/18shots_so.png" alt="Tool icon 1"></div>
                    </div>
                </a>
                
                <a href="https://www.figma.com/design/43vujTXx7wVIuxV1NKzOU8/JO---Behance---Website?node-id=884-8153&t=pvDlzM8kCPhknuOF-1" class="case">
                    <div class="aside--card pd pd__xl">
                        <div class="col gp gp--sm">
                            <h3 class="title fs__lg fw__md opc opc--75" data-i18n="principles_ethics_title">
                                Приложение викторины JO
                            </h3>
                            <h4 class="subtitle fs__md fw__md opc opc--75" data-i18n="principles_ethics_desc">
                                Минималистичный интерфейс для прохождения квизов и мгновенного получения результатов
                            </h4>
                            
                        </div>
                    </div>
                    <div class="bside--card">
                        <div class="icon"><img src="/static/img/jo.png" alt="Tool icon 1"></div>
                    </div>
                </a>
                
            </div>

    </section>




        <!--<section class="container gp gp--xs" id="process">

                <div class="hero">
                    
                    <div class="col gp gp--xs">

                        <div class="aside aside--hero pd pd__hg">

                            <div class="col gp gp--xs">
                                <h1 class="title fs__xxl fw__bd" data-i18n="tools_research_title">Исследование (Research & Discovery)</h1>
                                <h2 class="subtitle fs__md fw__md opc opc--75" data-i18n="tools_research_desc">Изучаю поведение пользователей, выявляю болевые точки, потребности, цели и контекст использования. Анализирую рынок и конкурентов. Формулирую проблему, согласовываю бизнес-цели с клиентом.</h2>
                            </div>

                        </div>


                        <div class="wrap gp gp--xs">
                            <div class="icon"><img src="/static/img/icon.svg" alt="Tool icon 1"></div>
                            <div class="icon"><img src="/static/img/icon2.svg" alt="Tool icon 2"></div>
                            <div class="icon"><img src="/static/img/icon3.svg" alt="Tool icon 3"></div>
                            <div class="icon"><img src="/static/img/icon4.svg" alt="Tool icon 4"></div>
                            <div class="icon"><img src="/static/img/icon5.svg" alt="Tool icon 5"></div>
                            <div class="icon"><img src="/static/img/icon6.svg" alt="Tool icon 6"></div>
                            <div class="icon"><img src="/static/img/icon7.svg" alt="Tool icon 7"></div>
                            <div class="icon"><img src="/static/img/icon8.svg" alt="Tool icon 8"></div>
                            <div class="icon"><img src="/static/img/icon9.svg" alt="Tool icon 9"></div>
                            <div class="icon"><img src="/static/img/icon10.svg" alt="Tool icon 10"></div>
                            <div class="icon"><img src="/static/img/icon11.svg" alt="Tool icon 11"></div>
                            <div class="icon"><img src="/static/img/icon12.svg" alt="Tool icon 12"></div>
                            <div class="icon"><img src="/static/img/icon13.svg" alt="Tool icon 13"></div>
                        </div>

                    </div>
                </div>
                <div class="grid">
                    <div class="card ">
                        <div class="aside--card pd pd__xl">
                            <div class="col gp gp--sm">
                                <h3 class="title fs__lg fw__md opc opc--75" data-i18n="process_research_title">
                                    Этап 1: <span class="underline green">Исследование.</span>
                                </h3>
                                <h4 class="subtitle fs__md fw__md opc opc--75" data-i18n="process_research_desc">
                                    Изучаю поведение пользователей, выявляю болевые точки, потребности, цели и контекст использования. Анализирую рынок и конкурентов. Формулирую проблему, согласовываю бизнес-цели с клиентом.
                                </h4>
                            </div>
                        </div>
                        <div class="bside--card"></div>
                    </div>
                    
                    <div class="card ">
                        <div class="aside--card pd pd__xl">
                            <div class="col gp gp--sm">
                                <h3 class="title fs__lg fw__md opc opc--75" data-i18n="process_design_title">
                                    Этап 2: <span class="underline green">Проектирование.</span>
                                </h3>
                                <h4 class="subtitle fs__md fw__md opc opc--75" data-i18n="process_design_desc">
                                    Генерирую идеи, разрабатываю концепции и сценарии использования. Создаю информационную архитектуру, навигацию, вайрфреймы и прототипы. Определяю визуальный стиль, типографику, палитру и иконографику. Тестирую прототипы.
                                </h4>
                            </div>
                        </div>
                        <div class="bside--card"></div>
                    </div>
                    
                    <div class="card ">
                        <div class="aside--card pd pd__xl">
                            <div class="col gp gp--sm">
                                <h3 class="title fs__lg fw__md opc opc--75" data-i18n="process_implementation_title">
                                    Этап 3: <span class="underline green">Реализация.</span>
                                </h3>
                                <h4 class="subtitle fs__md fw__md opc opc--75" data-i18n="process_implementation_desc">
                                    Готовлю детальные дизайн-макеты. Провожу дизайн-ревью и контроль качества. Обеспечиваю взаимодействие с разработчиками.
                                </h4>
                            </div>
                        </div>
                        <div class="bside--card"></div>
                    </div>
                    
                    <div class="card ">
                        <div class="aside--card pd pd__xl">
                            <div class="col gp gp--sm">
                                <h3 class="title fs__lg fw__md opc opc--75" data-i18n="process_launch_title">
                                    Этап 4: <span class="underline green">Запуск и Итерация.</span>
                                </h3>
                                <h4 class="subtitle fs__md fw__md opc opc--75" data-i18n="process_launch_desc">
                                    Помогаю с запуском дизайн-решения. Собираю данные и обратную связь, анализирую метрики. Планирую и реализую улучшения, итеративно обновляя дизайн продукта.
                                </h4>
                            </div>
                        </div>
                        <div class="bside--card"></div>
                    </div>
                    
                </div>

        </section>-->


        <section class="container gp gp--xs" id="design-system">


            
                <div class="hero ">

                  
                        <div class="aside aside--hero pd pd__hg">
                            <div class="col gp gp--xs">
                            <h1 class="title fs__xxl fw__bd" data-i18n="atomic_main_title"><span class="underline green">Целостная дизайн-система</span> на основе атомарного подхода.</h1>
                            <h2 class="subtitle fs__md fw__md opc opc--75" data-i18n="atomic_main_desc">Каждый элемент – от токенов до компонентов – формирует единый визуальный язык и масштабируемую архитектуру интерфейса.</h2>
                            </div>
                    </div>

                    
                    <div class="bside bside--hero">
                        <div class="icon"><img src="/static/img/designsystem.svg" alt="Tool icon 1"></div>
                    </div>

                </div>
                <div class="grid">
                    <div class="card ">
                        <div class="aside--card pd pd__xl">
                            <div class="col gp gp--sm">
                                <h3 class="title fs__lg fw__md opc opc--75" data-i18n="atomic_tokens_title">
                                    Токены.
                                </h3>
                                <h4 class="subtitle fs__md fw__md opc opc--75" data-i18n="atomic_tokens_desc">
                                    Определяю неизменные параметры визуального стиля; устанавливаю базовые правила проекта.
                                </h4>
                            </div>
                        </div>
                        <div class="bside--card">
                            <div class="icon"><img src="/static/img/1.svg" alt="Tool icon 1"></div>
                        </div>
                    </div>
                    
                    <div class="card ">
                        <div class="aside--card pd pd__xl">
                            <div class="col gp gp--sm">
                                <h3 class="title fs__lg fw__md opc opc--75" data-i18n="atomic_atoms_title">
                                    Атомы.
                                </h3>
                                <h4 class="subtitle fs__md fw__md opc opc--75" data-i18n="atomic_atoms_desc">
                                    Проектирую элементарные UI-части; обеспечиваю единообразие базовых элементов; формирую строительные блоки для сложных интерфейсов.
                                </h4>
                            </div>
                        </div>
                        <div class="bside--card">
                            <div class="icon"><img src="/static/img/2.svg" alt="Tool icon 1"></div>
                        </div>
                    </div>
                    
                    <div class="card ">
                        <div class="aside--card pd pd__xl">
                            <div class="col gp gp--sm">
                                <h3 class="title fs__lg fw__md opc opc--75" data-i18n="atomic_molecules_title">
                                    Молекулы.
                                </h3>
                                <h4 class="subtitle fs__md fw__md opc opc--75" data-i18n="atomic_molecules_desc">
                                    Комбинирую атомы в функциональные блоки; создаю переиспользуемые паттерны интерфейса.
                                </h4>
                            </div>
                        </div>
                        <div class="bside--card">
                            <div class="icon"><img src="/static/img/3.svg" alt="Tool icon 1"></div>
                        </div>
                    </div>
                    
                    <div class="card ">
                        <div class="aside--card pd pd__xl">
                            <div class="col gp gp--sm">
                                <h3 class="title fs__lg fw__md opc opc--75" data-i18n="atomic_components_title">
                                    Компоненты.
                                </h3>
                                <h4 class="subtitle fs__md fw__md opc opc--75" data-i18n="atomic_components_desc">
                                    Интегрирую молекулы и атомы в автономные секции; структурирую интерфейс на высоком уровне.
                                </h4>
                            </div>
                        </div>
                        <div class="bside--card">
                            <div class="icon"><img src="/static/img/4.svg" alt="Tool icon 1"></div>
                        </div>
                    </div>
                    
                </div>

        </section>

   
        <section class="container gp gp--xs" id="approach">

                 <div class="hero">


            

                        <div class="aside aside--hero pd pd__hg">
                            <div class="col   gp gp--xs">
                            <h1 class="title fs__xxl fw__bd" data-i18n="approach_main_title">Мой подход к дизайну.</h1>
                            <h2 class="subtitle fs__md fw__md opc opc--75" data-i18n="approach_main_desc">Создаю адаптивные, продуманные до мелочей интерфейсы, учитывая гайдлайны и потребности разработки.</h2>
                        </div>
                        </div>


                        
                        <div class="bside">

                        </div>

              
                </div>
                <div class="grid">
                    <div class="card ">
                        <div class="aside--card pd pd__xl">
                            <div class="col gp gp--sm">
                                <h3 class="title fs__lg fw__md opc opc--75" data-i18n="approach_adaptivity_title">
                                    Адаптивность.
                                </h3>
                                <h4 class="subtitle fs__md fw__md opc opc--75" data-i18n="approach_adaptivity_desc">
                                    Применяю сетку 16, 24, 32 пкс, следую правилу деления на 2, избегаю дробных пикселей. Персонализирую дизайн под персональные компьютеры, телефоны и планшеты.
                                </h4>
                            </div>
                        </div>
                        <div class="bside--card">
                            <div class="icon"><img src="/static/img/px.svg" alt="Tool icon 1"></div>
                        </div>
                    </div>
                    
                    <div class="card ">
                        <div class="aside--card pd pd__xl">
                            <div class="col gp gp--sm">
                                <h3 class="title fs__lg fw__md opc opc--75" data-i18n="approach_states_title">
                                    Учитываю <span class="underline green">все состояния.</span>
                                </h3>
                                <h4 class="subtitle fs__md fw__md opc opc--75" data-i18n="approach_states_desc">
                                    Проектирую все состояния элементов. Создаю библиотеку состояний и применяю анимацию для ясности.
                                </h4>
                            </div>
                        </div>
                        <div class="bside--card">
                            <div class="icon"><img src="/static/img/status.svg" alt="Tool icon 1"></div>
                        </div>
                    </div>
                    
                    <div class="card ">
                        <div class="aside--card pd pd__xl">
                            <div class="col gp gp--sm">
                                <h3 class="title fs__lg fw__md opc opc--75" data-i18n="approach_guidelines_title">
                                    Учитываю гайдлайны.
                                </h3>
                                <h4 class="subtitle fs__md fw__md opc opc--75" data-i18n="approach_guidelines_desc">
                                    Применяю гайдлайны платформ, слежу за обновлениями, внедряю их для удобства пользователей.
                                </h4>
                            </div>
                        </div>
                        <div class="bside--card">
                            <div class="icon"><img src="/static/img/guidelines.svg" alt="Tool icon 1"></div>
                        </div>
                    </div>
                    
                    <div class="card ">
                        <div class="aside--card pd pd__xl">
                            <div class="col gp gp--sm">
                                <h3 class="title fs__lg fw__md opc opc--75" data-i18n="approach_devs_understanding_title">
                                    Понимаю <span class="underline green">верстальщиков и программистов.</span>
                                </h3>
                                <h4 class="subtitle fs__md fw__md opc opc--75" data-i18n="approach_devs_understanding_desc">
                                    Создаю дизайн-системы с готовыми элементами для верстки, пишу подробные описания для разработчиков и учитываю технические возможности.
                                </h4>
                            </div>
                        </div>
                        <div class="bside--card">
                            <div class="icon"><img src="/static/img/code.svg" alt="Tool icon 1"></div>
                        </div>
                    </div>
                    
                </div>

        </section>

       
        <section class="container gp gp--xs" id="development-principles">

                <div class="hero">


                        <div class="aside aside--hero pd pd__hg">
                            <div class="col gp gp--xs">
                                <h1 class="title fs__xxl fw__bd" data-i18n="dev_principles_main_title">Основные принципы разработки дизайна.</h1>
                                <h2 class="subtitle fs__md fw__md opc opc--75" data-i18n="dev_principles_main_desc">Определяю функции, проектирую удобный интерфейс, передаю информацию через дизайн и строю масштабируемую архитектуру для роста продукта.</h2>
                            </div>
                    </div>


                    
                    <div class="bside">

                    </div>
                </div>
                <div class="grid">
                    <div class="card ">
                        <div class="aside--card pd pd__xl">
                            <div class="col gp gp--sm">
                                <h3 class="title fs__lg fw__md opc opc--75" data-i18n="dev_principles_function_title">
                                    Функция.
                                </h3>
                                <h4 class="subtitle fs__md fw__md opc opc--75" data-i18n="dev_principles_function_desc">
                                    Обеспечиваю выполнение заявленных функций: четко определяю, что делает и как работает продукт.
                                </h4>
                            </div>
                        </div>
                        <div class="bside--card">
                            <div class="icon"><img src="/static/img/5.svg" alt="Tool icon 1"></div>
                        </div>
                    </div>
                    
                    <div class="card ">
                        <div class="aside--card pd pd__xl">
                            <div class="col gp gp--sm">
                                <h3 class="title fs__lg fw__md opc opc--75" data-i18n="dev_principles_ergonomics_title">
                                    Эргономика.
                                </h3>
                                <h4 class="subtitle fs__md fw__md opc opc--75" data-i18n="dev_principles_ergonomics_desc">
                                    Ориентируюсь на удобство: проектирую интерфейсы для интуитивного и простого взаимодействия.
                                </h4>
                            </div>
                        </div>
                        <div class="bside--card">
                            <div class="icon"><img src="/static/img/6.svg" alt="Tool icon 1"></div>
                        </div>
                    </div>
                    
                    <div class="card ">
                        <div class="aside--card pd pd__xl">
                            <div class="col gp gp--sm">
                                <h3 class="title fs__lg fw__md opc opc--75" data-i18n="dev_principles_visualcomm_title">
                                    Визуальная-коммуникация.
                                </h3>
                                <h4 class="subtitle fs__md fw__md opc opc--75" data-i18n="dev_principles_visualcomm_desc">
                                    Передаю информацию через дизайн: визуальные элементы усиливают понятность и направляют пользователя.
                                </h4>
                            </div>
                        </div>
                        <div class="bside--card">
                            <div class="icon"><img src="/static/img/7.svg" alt="Tool icon 1"></div>
                        </div>
                    </div>
                    
                    <div class="card ">
                        <div class="aside--card pd pd__xl">
                            <div class="col gp gp--sm">
                                <h3 class="title fs__lg fw__md opc opc--75" data-i18n="dev_principles_scalability_title">
                                    Масштабируемость.
                                </h3>
                                <h4 class="subtitle fs__md fw__md opc opc--75" data-i18n="dev_principles_scalability_desc">
                                    Делаю на вырост: строю архитектуру так, чтобы она легко масштабировалась, дополнялась новым функционалом и адаптировалась к изменениям рынка.
                                </h4>
                            </div>
                        </div>
                        <div class="bside--card">
                            <div class="icon"><img src="/static/img/8.svg" alt="Tool icon 1"></div>
                        </div>
                    </div>
                    
                </div>

        </section>



 
        <section class="container gp gp--xs" id="industries">


                <div class="hero ">

          
                        <div class="aside aside--hero pd pd__hg">
                            <div class="col  gp gp--xs">
                                <h1 class="title fs__xxl fw__bd" data-i18n="industries_main_title">Дизайн для <span class="underline green">разных отраслей.</span></h1>
                                <h2 class="subtitle fs__md fw__md opc opc--75" data-i18n="industries_main_desc">Интегрирую масштабируемые и функциональные интерфейсы для SaaS, корпоративных платформ, стартапов и развлекательных проектов.</h2>
                            </div>
                        </div>

                        <div class="bside bside--hero">
                            <div class="icon"><img src="/static/img/23.svg" alt="Tool icon 1"></div>
                        </div>
                </div>


                <div class="grid">
                    <div class="card ">
                        <div class="aside--card pd pd__xl">
                            <div class="col gp gp--sm">
                                <h3 class="title fs__lg fw__md opc opc--75" data-i18n="industries_saas_title">
                                    Дизайн для масштабных <span class="underline green">SaaS-продуктов.</span>
                                </h3>
                                <h4 class="subtitle fs__md fw__md opc opc--75" data-i18n="industries_saas_desc">
                                    Создаю и оптимизирую дизайн архитектуру для повышения эффективности и масштабируемости.
                                </h4>
                            </div>
                        </div>
                        <div class="bside--card">
                            <div class="icon"><img src="/static/img/11.svg" alt="Tool icon 1"></div>
                        </div>
                    </div>
                    
                    <div class="card ">
                        <div class="aside--card pd pd__xl">
                            <div class="col gp gp--sm">
                                <h3 class="title fs__lg fw__md opc opc--75" data-i18n="industries_corporate_title">
                                    Дизайн для <span class="underline green">корпоративного бизнеса.</span>
                                </h3>
                                <h4 class="subtitle fs__md fw__md opc opc--75" data-i18n="industries_corporate_desc">
                                    Разрабатываю интерфейсы, соответствующие корпоративным регламентам, интегрирую фирменный стиль и упрощаю внутренние и внешние коммуникации.
                                </h4>
                            </div>
                        </div>
                        <div class="bside--card">
                            <div class="icon"><img src="/static/img/12.svg" alt="Tool icon 1"></div>
                        </div>
                    </div>
                    
                    <div class="card ">
                        <div class="aside--card pd pd__xl">
                            <div class="col gp gp--sm">
                                <h3 class="title fs__lg fw__md opc opc--75" data-i18n="industries_startups_title">
                                    Дизайн для <span class="underline green">стартапов.</span>
                                </h3>
                                <h4 class="subtitle fs__md fw__md opc opc--75" data-i18n="industries_startups_desc">
                                    Преобразую идеи основателей в стратегически выверенные решения, ускоряю выход на рынок и формирую конкурентное преимущество.
                                </h4>
                            </div>
                        </div>
                        <div class="bside--card">
                            <div class="icon"><img src="/static/img/13.svg" alt="Tool icon 1"></div>
                        </div>
                    </div>
                    
                    <div class="card ">
                        <div class="aside--card pd pd__xl">
                            <div class="col gp gp--sm">
                                <h3 class="title fs__lg fw__md opc opc--75" data-i18n="industries_entertainment_title">
                                    Дизайн для <span class="underline green">индустрии развлечений.</span>
                                </h3>
                                <h4 class="subtitle fs__md fw__md opc opc--75" data-i18n="industries_entertainment_desc">
                                    Интегрирую творческий подход с функциональными стандартами для создания визуально привлекательных и технологичных решений в кино, музыке и медиа.
                                </h4>
                            </div>
                        </div>
                        <div class="bside--card">
                            <div class="icon"><img src="/static/img/14.svg" alt="Tool icon 1"></div>
                        </div>
                    </div>
                    
                </div>

        </section>

    
        <section class="container gp gp--xs" id="expertise">

                <div class="hero">



                        <div class="aside aside--hero pd pd__hg">
                            <div class="col gp gp--xs">
                                <h1 class="title fs__xxl fw__bd" data-i18n="expertise_main_title">Превосхожу ожидания. <span class="underline green">Гарантированно.</span></h1>
                                <h2 class="subtitle fs__md fw__md opc opc--75" data-i18n="expertise_main_desc">Академическая глубина и практическое мастерство объединяются в научно обоснованном дизайне для достижения максимальных результатов.</h2>
                            </div>
                        </div>

                        
                        <div class="bside bside--hero">
                            <div class="icon"><img src="/static/img/27.svg" alt="Tool icon 1"></div>
                        </div>

                </div>
                <div class="grid">
                    <div class="card ">
                        <div class="aside--card pd pd__xl">
                            <div class="col gp gp--sm">
                                <h3 class="title fs__lg fw__md opc opc--75" data-i18n="expertise_digital_title">
                                    <span class="underline green">Digital-</span>экспертиза.
                                </h3>
                                <h4 class="subtitle fs__md fw__md opc opc--75" data-i18n="expertise_digital_desc">
                                    Коммерческий опыт свыше 15 лет в сфере дизайна позволяет создавать архитектуру цифровых сервисов, способную адаптироваться к быстрым изменениям рынка.
                                </h4>
                            </div>
                        </div>
                        <div class="bside--card">
                            <div class="icon"><img src="/static/img/15.svg" alt="Tool icon 1"></div>
                        </div>
                    </div>
                    
                    <div class="card ">
                        <div class="aside--card pd pd__xl">
                            <div class="col gp gp--sm">
                                <h3 class="title fs__lg fw__md opc opc--75" data-i18n="expertise_mobile_title">
                                    Формирование<span class="underline green">регламентов и стандартов.</span>
                                </h3>
                                <h4 class="subtitle fs__md fw__md opc opc--75" data-i18n="expertise_mobile_desc">
                                    Применяю дизайн системы для стандартизации и масштабирования решений.
                                </h4>
                            </div>
                        </div>
                        <div class="bside--card">
                            <div class="icon"><img src="/static/img/16.svg" alt="Tool icon 1"></div>
                        </div>
                    </div>
                    
                    <div class="card ">
                        <div class="aside--card pd pd__xl">
                            <div class="col gp gp--sm">
                                <h3 class="title fs__lg fw__md opc opc--75" data-i18n="expertise_frontend_title">
                                    <span class="underline green">Frontend-ориентированный</span>дизайн.
                                </h3>
                                <h4 class="subtitle fs__md fw__md opc opc--75" data-i18n="expertise_frontend_desc">
                                    Оптимизирую дизайн под реалии фронтенд-разработки для его легкой реализации.
                                </h4>
                            </div>
                        </div>
                        <div class="bside--card">
                            <div class="icon"><img src="/static/img/17.svg" alt="Tool icon 1"></div>
                        </div>
                    </div>
                    
                    <div class="card ">
                        <div class="aside--card pd pd__xl">
                            <div class="col gp gp--sm">
                                <h3 class="title fs__lg fw__md opc opc--75" data-i18n="expertise_data_driven_title">
                                    <span class="underline green">Data-driven</span> дизайн.
                                </h3>
                                <h4 class="subtitle fs__md fw__md opc opc--75" data-i18n="expertise_data_driven_desc">
                                    Строю решения на основе анализа данных. Применяю A/B тестирование, юзабилити-аудит и анализ конверсии для объективной оценки эффективности интерфейсов.
                                </h4>
                            </div>
                        </div>
                        <div class="bside--card">
                            <div class="icon"><img src="/static/img/18.svg" alt="Tool icon 1"></div>
                        </div>
                    </div>
                    
                </div>

        </section>

    
        <section class="container gp gp--xs" id="standards">

                <div class="hero">



                    <div class="aside aside--hero pd pd__hg">
                        <div class="col  gp gp--xs">
                            <h1 class="title fs__xxl fw__bd" data-i18n="hated_stuff_main_title">Люблю то, <span class="underline green">что ненавидят другие.</span></h1>
                            <h2 class="subtitle fs__md fw__md opc opc--75" data-i18n="hated_stuff_main_desc">Воплощаю принципы, которые устанавливают новые стандарты и исключают компромиссы.</h2>
                        </div>
                    </div>

                    
                    <div class="bside bside--hero">
                        <div class="icon"><img src="/static/img/29.svg" alt="Tool icon 1"></div>
                    </div>
                </div>
                <div class="grid">



<div class="card ">
    <div class="aside--card pd pd__xl">
        <div class="col gp gp--sm">
            <h3 class="title fs__lg fw__md opc opc--75" data-i18n="hated_stuff_docs_title">
                Техническая документация.
            </h3>
            <h4 class="subtitle fs__md fw__md opc opc--75" data-i18n="hated_stuff_docs_desc">
                Пишу детальные аннотации и комментарии в Figma, чтобы разработчики точно реализовали дизайн в коде, минимизируя ошибки и ускоряя интеграцию.
            </h4>
        </div>
    </div>
    <div class="bside--card">
        <div class="icon"><img src="/static/img/21.svg" alt="Tool icon 1"></div>
    </div>
</div>

<div class="card ">
    <div class="aside--card pd pd__xl">
        <div class="col gp gp--sm">
            <h3 class="title fs__lg fw__md opc opc--75" data-i18n="hated_stuff_standards_title">
                <span class="underline green">Стандарты</span> для дизайнеров.
            </h3>
            <h4 class="subtitle fs__md fw__md opc opc--75" data-i18n="hated_stuff_standards_desc">
                Формулирую строгие принципы создания интерфейсов, документирую каждую деталь и устанавливаю отраслевые ориентиры, повышающие качество конечного продукта.
            </h4>
        </div>
    </div>
    <div class="bside--card">
        <div class="icon"><img src="/static/img/22.svg" alt="Tool icon 1"></div>
    </div>
</div>

<div class="card ">
    <div class="aside--card pd pd__xl">
        <div class="col gp gp--sm">
            <h3 class="title fs__lg fw__md opc opc--75" data-i18n="hated_stuff_marketing_title">
                <span class="underline green">Методологии</span> для маркетологов.
            </h3>
            <h4 class="subtitle fs__md fw__md opc opc--75" data-i18n="hated_stuff_marketing_desc">
                Разрабатываю четкие подходы для интеграции дизайн-решений в маркетинговые стратегии, обеспечивая согласованность коммуникаций и повышение конверсии.
            </h4>
        </div>
    </div>
    <div class="bside--card">
        <div class="icon"><img src="/static/img/19.svg" alt="Tool icon 1"></div>
    </div>
</div>

<div class="card ">
    <div class="aside--card pd pd__xl">
        <div class="col gp gp--sm">
            <h3 class="title fs__lg fw__md opc opc--75" data-i18n="hated_stuff_guidelines_title">
                Разрабатываю ТЗ по стандартам: <span class="underline green">ISO / IEC / IEEE 29148-2011</span>
            </h3>
            <h4 class="subtitle fs__md fw__md opc opc--75" data-i18n="hated_stuff_guidelines_desc">
                Разрабатываю технические задания по международным стандартам.
            </h4>
        </div>
    </div>
    <div class="bside--card">
        <div class="icon"><img src="/static/img/20.svg" alt="Tool icon 1"></div>
    </div>
</div>

                    
                </div>

        </section>

 

    </main>



    {% endblock %}