{% extends "layout.html" %}

{% block main %}

    <main class="gp gp--xs">

        <!-- Hero Section -->
        <section class="container gp gp--xs sequential-container" id="about">
            <div class="hero sequential-container">
                <div class="aside aside--hero pd pd__hg">
                    <div class="col gp gp--xs">
                        <h1 class="title fs__xxl fw__bd animate-sequential-item">{{ _('about_hero_title') | safe }}</h1>
                        <h2 class="subtitle fs__md fw__md opc opc--75 animate-sequential-item">{{ _('about_hero_subtitle') }}</h2>
                    </div>
                </div>
                <div class="bside bside--hero">
                    <div class="icon animate-sequential-item"><img src="{{ url_for('static', filename='img/logo.svg') }}" alt="Logo"></div>
                </div>
            </div>
        </section>

        <!-- Menu Section -->
        <section class="container gp gp--xs sequential-container" id="menu">
            <div class="hero sequential-container">
                <div class="aside aside--hero pd pd__hg">
                    <div class="col gp gp--xs">
                        <h2 class="title fs__xl fw__bd animate-sequential-item">{{ _('about_menu_title') }}</h2>
                    </div>
                </div>
            </div>
            <div class="grid">
                <a href="{{ url_for('design', lang_code=current_lang) }}" class="case sequential-container">
                    <div class="aside--card pd pd__xl">
                        <div class="col gp gp--sm">
                            <h3 class="title fs__lg fw__md opc opc--75 animate-sequential-item">{{ _('nav_design') }}</h3>
                        </div>
                    </div>
                </a>
                <a href="{{ url_for('frontend', lang_code=current_lang) }}" class="case sequential-container">
                    <div class="aside--card pd pd__xl">
                        <div class="col gp gp--sm">
                            <h3 class="title fs__lg fw__md opc opc--75 animate-sequential-item">{{ _('nav_frontend') }}</h3>
                        </div>
                    </div>
                </a>
                <a href="{{ url_for('backend', lang_code=current_lang) }}" class="case sequential-container">
                    <div class="aside--card pd pd__xl">
                        <div class="col gp gp--sm">
                            <h3 class="title fs__lg fw__md opc opc--75 animate-sequential-item">{{ _('nav_backend') }}</h3>
                        </div>
                    </div>
                </a>
                <a href="{{ url_for('mobile', lang_code=current_lang) }}" class="case sequential-container">
                    <div class="aside--card pd pd__xl">
                        <div class="col gp gp--sm">
                            <h3 class="title fs__lg fw__md opc opc--75 animate-sequential-item">{{ _('nav_mobile') }}</h3>
                        </div>
                    </div>
                </a>
                <a href="{{ url_for('ai', lang_code=current_lang) }}" class="case sequential-container">
                    <div class="aside--card pd pd__xl">
                        <div class="col gp gp--sm">
                            <h3 class="title fs__lg fw__md opc opc--75 animate-sequential-item">{{ _('nav_ai') }}</h3>
                        </div>
                    </div>
                </a>
                <a href="{{ url_for('security', lang_code=current_lang) }}" class="case sequential-container">
                    <div class="aside--card pd pd__xl">
                        <div class="col gp gp--sm">
                            <h3 class="title fs__lg fw__md opc opc--75 animate-sequential-item">{{ _('nav_security') }}</h3>
                        </div>
                    </div>
                </a>
            </div>
        </section>

    </main>

{% endblock %}
